{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
    <h1>Bienvenue sur Accessoires Exclusifs !</h1>
    
    <p>Bonjour,</p>
    <p>Merci de vous être inscrit. Afin de finaliser la création de votre compte et garantir la sécurité de vos données, veuillez confirmer votre adresse email.</p>
    
    <div class="btn-container">
        <a href="{{ activate_url }}" class="btn">Confirmer mon email</a>
    </div>
    
    <p style="font-size: 14px; color: #888888; text-align: center;">
        Si vous n'avez pas créé de compte sur notre plateforme, vous pouvez ignorer cet email en toute sécurité.
    </p>
{% endblock %}
