{% extends "email/base.html" %}

{% block content %}
    <h1>Mot de passe modifie</h1>
    
    <p>Bonjour {{ user.first_name|default:"" }},</p>
    <p>Votre mot de passe a ete modifie avec succes sur <strong>Accessoires Exclusifs</strong>.</p>
    
    <p>Si vous n'etes pas a l'origine de cette action, contactez rapidement notre support afin de proteger votre compte.</p>
    
    <div class="btn-container">
        <a href="{{ frontend_url }}" class="btn">Retour vers l'application</a>
    </div>
{% endblock %}
