{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
    <h1>Réinitialisation de mot de passe</h1>
    
    <p>Bonjour,</p>
    <p>Vous avez fait une demande pour réinitialiser le mot de passe de votre compte associé à cette adresse email sur <strong>Accessoires Exclusifs</strong>.</p>
    
    <div class="btn-container">
        <a href="{{ password_reset_url }}" class="btn">Réinitialiser mon mot de passe</a>
    </div>
    
    <p style="font-size: 14px; color: #888888; text-align: center;">
        Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email. Votre mot de passe restera inchangé.
    </p>
{% endblock %}
